body {
	font-family: 'PT Sans', sans-serif;
	background-color: #f5f5dc;
	position: relative;
	font-size: 20px;
}

header {
	margin-left: 30%;
}

.block_x {
	position: relative;
	right: 14.5%;
}

li {
	margin: 5px;
	padding: 0px 5px 0px 5px;
	font-size: 20px;
	list-style-type: none;

}

li:hover {
	background-color: orange;
	width: 390px;
	font-size: 28px;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
}

.first_block,
.second_block,
.third_block,
.fourth_block {
	position: relative;
	width: auto;
	height: auto;
	width: 1000px;
	left: 20%;
	padding: 20px;
	text-indent: 20px;
	margin-bottom: 50px;
}

span {
	margin-left: 5%;
}

img {
	width: 75%;
	height: 75%;
	text-align: center;
	margin-left: 13.5%;

}

footer img {
	width: 20px;
	height: 20px;
	float: left;
	top: 1%;
}

.youtube,
.git,
.sequre {
	position: relative;
	flex: 0 0 auto;
	margin: 0px 0px 0px 11%;
	font-size: 20px;
}

.sequre {
	margin-top: 20px;
	margin-left: 75%;
	color: green;
}

dt p {
	font-size: 28px;
	margin-top: 20px;
}

td {
	text-align: center;
	border: 1px solid black;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}
